.container {
    display: flex;
    justify-content: space-between;
    /* margin-top: 2.25rem; */
    align-items: center;
    background-color: #34495E;
    padding: 3em;
}

.container h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2rem;
}

.navegacao {
    display: flex;
    gap: 3.94rem;
    align-items: center;
}

.links {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.botao {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.625rem 2.1875rem;
    background-color: #3498DB;
    border-radius: 0.625rem;
    font-weight: 400;
    font-size: 1.5rem;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    /* .container {
        
    } */
}

@media screen and (min-width: 744px) and (max-width: 1023px) {
    /* .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    } */

    .navegacao {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 743px) {
    /* .container {
        margin-left: 1.5rem;
    } */
}