.menu-button {
    display: none;
    background-color: white;
    border: none;
}

.show {
    display: block;
}

.lista-links {
    margin-top: 1rem;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 0px 0px 8px 8px;
    padding: 0.4rem;
}

.lista-links li {
    margin-top: 1rem;
    text-align: center;
    border-bottom: 1px solid #000;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
    .menu-button {
        display: block;
    }
}