.container {
    text-align: center;
    margin-top: 10rem;
}

.container h1 {
    color: #111;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2.19rem;
}

.linha {
    background-color: #5E5E5E;
    width: 16.438rem;
    height: 0.0625rem;
    margin-bottom: 2.19rem;
}

.container p {
    color: #111;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 2.19rem;
}

.botao__projects {
    text-decoration: none;
    color: #111111;
    padding: 0.625rem 2.1875rem;
    background-color: #FFFFFF;
    border-radius: 0.625rem;
    font-weight: 400;
    font-size: 1.5rem;
    border: 1px solid #111;
    margin-right: 3.81rem;
}

.botao__contact {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.625rem 2.1875rem;
    background-color: #3498DB;
    border-radius: 0.625rem;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    margin-right: 3.81rem;
}

@media screen and (min-width: 375px) and (max-width: 744px) {
    .container {
        display: flex;
        flex-direction: column;

    }

    .container h1 {
        font-size: 2.25rem;
        font-weight: 400;
        text-align: center;
    }

    .container p {
        text-align: center;
        font-size: 1.3125rem;
        margin-left: 3.75rem;
        margin-right: 3.75rem;
    }

    .botoes__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.56rem;
        align-items: center;
    }

    .botao__projects {
        margin-left: 5.41rem;
        margin-left: 5.41rem;
    }

    .botao__contact {
        margin-left: 5.41rem;
        margin-left: 5.41rem;
        margin-top: 1.56rem;
    }
}