.container {
    text-align: center;
    margin-top: 10rem;
}

.container h2 {
    color: #111;
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 2.19rem;
}

.container hr {
    width: 16.438rem;
    height: 0.0625rem;
    background-color: #5E5E5E;
    margin-bottom: 2.19rem;
}

.container p {
    color: #111;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 2.19rem;
}

.container div {
    display: flex;
    justify-content: center;
    gap: 1.62rem;
}

.tecnologias {
    color: #111;
    font-size: 0.75rem;
    font-weight: 400;
}